@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

/* FONTS */

@font-face {
    font-family: klabbold;
    src: url(../fonts/klabbold-webfont.woff);
}
@font-face {
    font-family: klabbold-italic;
    src: url(../fonts/klabboldit-webfont.woff);
}
@font-face {
    font-family: klabbook;
    src: url(../fonts/klabbook-webfont.woff);
}
@font-face {
    font-family: klabbook-italic;
    src: url(../fonts/klabbookit-webfont.woff);
}
@font-face {
    font-family: klablight;
    src: url(../fonts/klablight-webfont.woff);
}
@font-face {
    font-family: klablight-italic;
    src: url(../fonts/klablightit-webfont.woff);
}
@font-face {
    font-family: klabmedium;
    src: url(../fonts/klabmedium-webfont.woff);
}
@font-face {
    font-family: klabmedium-italic;
    src: url(../fonts/klabmediumit-webfont.woff);
}

/**/

/* Custom CSS*/

body,
body p,
body h5,
body .btn,
body .button,
body textarea,
body .rss-date,
body .testimonial h1 p,
body  h3#reply-title,
body .viewer .caption,
body .archives-list h6,
body input[type="tel"], 
body input[type="url"], 
body input[type="text"], 
body input[type="date"], 
body input[type="time"], 
body #author-wrapper h6, 
body .wpcf7-form select,
body input[type="email"], 
body .btn[type="submit"],
body input[type="reset"], 
body input[type="number"], 
body .comment-author span,
body .comment-author cite,
body #wp-calendar caption,
body input[type="search"],
body input[type="button"],
body input[type="submit"],
body input[type="password"],
body input[type="datetime"],
body .button[type="submit"],
body #cancel-comment-reply-link,
body .home-slide a.post-edit-link,
body .entry-content .wp-playlist-item-length,
body .widget_bean_tweets a.twitter-time-stamp,
body .bean-pricing-table .table-mast h5.title,
body #edd_checkout_form_wrap select.edd-select,
body .bean-pricing-table .table-mast h6.price,
body .bean-pricing-table, .bean-pricing-table .table-mast p {
	font-family: klabbook, Georgia, serif; 
	font-size: 14pt;
}

body h1 {
	font-size: 16pt;
}

body .onsale,
body .tagcloud a,
body .bean-tabs a,
body .products li h5,
body h6.widget-title, 
body .archives-list h6,
.reveal h3#reply-title,
body .bean-image-caption,
.reveal h6.comments-title,
.reveal #author-wrapper h6,
body .woocommerce table th,
body .bean-panel-title > a,
body #load-more .overlay h5,
body .crsl-item .overlay h5,
body .type-team .overlay h4,
body .bean-coming-soon .count,
body .bean-tabs > li.active > a,
body .slides-container .overlay h1,
body #portfolio-grid li .overlay h5,
body .home-slider-mobile li .overlay h3,
body .home-portfolio-fullwidth .overlay h1,
body .masonry-item .overlay .post-inner h1,
body .widget_bean_portfolio li .overlay h5,
body li.masonry-item.grid-masonry .overlay h5,
body .bean-pricing-table .table-mast h5.title {
	font-family: klabbook, Georgia, serif; 
}

.sf-menu,
body h1 {
	font-family: klabbold, Georgia, serif;
}

body h2 {
	font-family: klabbold, Georgia, serif;
	font-size: 14pt;
	margin-bottom: 5px;
}

body h3 {
    font-family: klabbold, Georgia, serif;
    font-size: 20pt;
    margin-bottom: 20px;
}

header {
	padding-bottom: 30px;
}

header .sf-menu a{
	font-size: 16pt;
	font-family: klabbold, Georgia, serif;
}

footer .sf-menu{
	font-family: klabbook, Georgia, serif;
}

.translation {
	color: #AAA;
}

/* PORTFOLIO CONTENT */

.eight {
	padding: 0px 90px;
}

.six.description {
	padding: 30px 90px 0px 90px;
}

.six.description p {
	font-family: klabbook-italic, Georgia, serif;
	font-size: 12pt;
}

.single-portfolio,
.portfolio-full-meta ul,
.entry-meta li span {
	text-align: left!important;
	font-size: 14pt;
	color: #000000;
}

.single-portfolio .entry-meta li {
	width: 100%;
}

.single-portfolio ul.stacked li {
    margin-bottom: 40px;
}

.single-portfolio ul.lb-layout li:nth-child(3),
.single-portfolio ul.lb-layout li:nth-child(4),
.single-portfolio ul.lb-layout li:nth-child(5),
.single-portfolio ul.lb-layout li:nth-child(6),
.single-portfolio ul.lb-layout li:nth-child(7),
.single-portfolio ul.lb-layout li:nth-child(8),
.single-portfolio ul.lb-layout li:nth-child(9),
.single-portfolio ul.lb-layout li:nth-child(10),
.single-portfolio ul.lb-layout li:nth-child(11),
.single-portfolio ul.lb-layout li:nth-child(12)
{
    display: none;
}

.post-meta-key {
   width: 33%;
   min-width: 50px;
   display: block;
   float: left;
   font-family: klabbold, Georgia, serif;
}

.single-portfolio .portfolio-full-meta ul {
    margin-top: 0px;
}

.entry-meta p {
	margin: 0;
}

.entry-meta a {
	pointer-events: none;
	cursor: default;
}

.portfolio-intro-text {
	float: none;
}

.entry-content {
    margin-bottom: 30px;
}

.entry-content ul {
	margin: 0px;
	margin-left: 20px;
}

.entry-content .portfolio-social li a {
    background-image: none;
    padding-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    font-size: 16pt;
    min-width: 0px;
    display: inline-block;
}

.entry-content .portfolio-social {
    margin-top: 30px;
    margin-left: 0px;
}

/*PORTFOLIO MORE*/

#portfolio-grid.more {
    margin-top: 20px;
}

/*CONTACT*/

.contact-column {
	padding: 0px 90px;
}

/*CLEARFIX*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* Links */

a {
	font-size: 14pt;
}

a .wpml-rtl,
a .mail-link,
.entry-content a {
    border-bottom: none;
    font-family: klabbold-italic, Georgia, serif!important;
    font-size: 12pt;
}

.single-portfolio .entry-content a {
    font-size: 18pt;
}

.bean-tabs > li > a {
	font-family: klabbold, Georgia, serif!important;
	font-size: 16pt;
	color: #AAA;
}

/*
a .wpml-rtl{
	font-family: klabbold-italic, Georgia, serif!important;
	font-size: 12pt;
}

a .mail-link{
	border-bottom: none;
}
*/
i {
	padding-right: 10px;
}

/**/